section {
  height: 61vh;
  min-height: 100%;
}
.iframe {
  height: 100%;
  width: 55%;
}
.row {
  display: flex;
}

.intro {
  width: 45%;
  margin-left: 40px;
}
.intro h1 {
  font-size: 40px;
}
.intro p {
  color: #656464;
}
.intro button {
  display: flex;
  width: 120px;
  height: 40px;
  background-color: #e7f0fe73;
  border: none;
  color: #1e55b3;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  border-radius: 10px;
}
.btn {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.btn button {
  display: flex;
  width: 120px;
  height: 40px;
  background-color: #1e55b3;
  border: none;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 0.75rem #1e55b3);
  margin-top: 15px;
  border-radius: 10px;
}
.btn button div {
  margin-left: 10px;
}
