section {
  height: 90vh;
  min-height: 100%;
}
.iframe {
  height: 100%;
  width: 55%;
}
.row {
  display: flex;
  margin: auto;
}

.intro {
  width: 45%;
  margin-left: 40px;
  height: 90vh;
}
.intro h1 {
  font-size: 4vw;
  font-weight: normal;
}
.intro p {
  color: #656464;
  font-size: 1.6vw;
}
.intro button {
  display: flex;
  width: 120px;
  height: 40px;
  background-color: #e7f0fe73;
  border: none;
  color: #1e55b3;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  border-radius: 10px;
  font-size: 1.3vw;
}
.btn {
  display: flex;
  justify-content: space-between;
  width: 45vw;
}
.btn button {
  display: flex;
  width: 13vw;
  height: 10vh;
  background-color: #1e55b3;
  border: none;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 0.35rem #1e55b3);
  margin-top: 15px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}
.btn button div {
  margin-left: 0.3vw;
  margin-top: 0.3vw;
}

.chevron {
  color: white;
}

.btn button:hover {
  transform: scale(1.1);
  box-shadow: 6px 5px 8px rgba(128, 128, 128, 0.589);
  filter: drop-shadow(0 0 0);
}
