<!-- <a routerLink="/home"><button class="btn btn-success">Submit</button></a>
<button type="submit" (click)="setInput()">اعمال</button>
<button type="submit" class="hello" (click)="eventss('2')"></button>
<input #myname /> -->
<!-- <input
  #gsinput
  (input)="gettingStartedInput(gsinput.value)"
  type="text"
  value="text"
  placeholder="Enter Text"
/>
<input
  #testinput
  (input)="gettingStartedInput(testinput.value)"
  type="text"
  value="text"
  placeholder="Enter Text"
/>
<button (click)="gettingStarted()">Getting Started</button> -->
<!-- <div>
  <ul class="listings">
    <li *ngFor="let list of lists">{{ list }}</li>
  </ul>
</div>
</div> -->
<section class="row">
  <div class="intro">
    <button>Rest API</button>
    <h1>Welcome to AnchorAPI Collections!</h1>
    <p>
      Browse through our collections of APIs. Discover and connect to learn
      about our APIs that are curated and recommended based on functionality
      offered, performance, and support!
    </p>
    <div class="btn">
      <button routerLink="/docs">
        Get Started
        <div>
          <img
            class="chevron"
            src="https://cdn-user-icons.flaticon.com/88478/88478808/1672135226721.svg?token=exp=1672136129~hmac=9481e8557d2e1ab1b9d2d7e64b83e293"
            alt="chevron right"
            width="20vw"
          />
        </div>
      </button>
      <button routerLink="/collections">Browse API's</button>
    </div>
  </div>
  <div class="iframe">
    <iframe
      src="https://my.spline.design/coloredcompositioncopy-1c829b6f1dc2d70c83ba91a41d4048bd/"
      frameborder="0"
      width="100%"
      height="100%"
    ></iframe>
  </div>
</section>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"
></script>
