section {
  min-height: 61vh;
  height: 100%;
  color: #666674;
  margin-bottom: 20px;
}

.userdash {
  display: flex;
  margin: 0.5vw 3vw 5vw 3vw;
}
.profile {
  margin-left: 15px;
  width: 40%;
}
.aoverview {
  font-size: 3.5vw;
  margin-left: 2vw;
  margin-top: 2.8vw;
  margin-bottom: 1.3vw;
}
.img-div {
  margin-top: 15px;
  width: 110px;
  height: 110px;
  border-radius: 50px;
  background-color: rgb(240, 242, 255);
}
img {
  margin-left: 2vw;
}
.info {
  padding-bottom: 0.5vw;
}
.info p {
  margin-left: 2.5vw;
}
.info div {
  width: 100%;
  border-bottom: 1px solid rgb(206, 206, 206);
}
.about {
  margin-top: 20px;
}
.about .h-about {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.info-about {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.3vw;
}
.a-info {
  width: 100%;
  border-bottom: 1px solid rgb(206, 206, 206);
  display: flex;
}
.a-info div {
  margin-top: 1vw;
}
.a-info img {
  padding: 0vw !important;
}
.info-about div span {
  border-bottom: none;
}
.content {
  margin-left: 7vw;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 23vw;
}
.card img {
  padding: 23px;
  border-radius: 50%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.api-card {
  display: flex;
}
.api-card-inner {
  width: 50%;
  border: 1px solid rgb(206, 206, 206);
  padding: 2vw;
  border-radius: 10px;
}
td {
  margin-left: 2vw;
}

.suggestions {
  border: 1px solid rgb(206, 206, 206);
  padding: 2vw;
  border-radius: 10px;
  margin-top: 2vw;
  display: flex;
}

.suggestions img {
  margin-left: 9vw;
}
.suggestions div {
  width: 100%;
}
