<nav id="header">
  <div routerLink="/">
    <div class="logo-containers">
      <div class="logo-container">
        <img
          class="logo-img"
          src="../assets/achorlogo.jpg"
          alt=" logo"
          width="40px"
          with="40px"
        />
      </div>
    </div>
    <div>
      <span class="logo-t">ANCHOR<span class="logo-t2"> API</span></span>
    </div>
  </div>
  <div>
    <a class="acenter" routerLink="/excelgenerator">Excel Generator</a>
    <a class="acenter" routerLink="/collections">API's</a>
    <a class="acenter" routerLink="/docs">Docs</a>
  </div>
  <div>
    <div *ngIf="message.email == null; else logout">
      <a class="nav-btn2" routerLink="/signup">Signup</a>
      <a class="nav-btn" routerLink="/login">Login</a>
    </div>
    <ng-template #logout>
      <a class="atag" routerLink="/userdash">Profile</a>
      <div routerLink="/userdash" class="chip">
        <img
          class="progile-logo"
          src="{{ message.url }}"
          width="2px"
          alt="profile image"
        />
        <span> {{ message.firstName }} </span>
      </div>
      <a class="atag" (click)="onSave()">Logout</a>
    </ng-template>
  </div>
</nav>
<router-outlet></router-outlet>

<footer>
  <div class="footer-div-top">
    <div>
      <h5>Api</h5>
      <p>Documentation</p>
      <p>Getting Started</p>
      <p>Terms& Privacy</p>
    </div>
    <div>
      <h5>Company</h5>
      <p>Acount Us</p>
      <p>Blog</p>
      <p>Contact</p>
    </div>
    <div>
      <h5>Subscribe to our news letter</h5>
      <p>Subscribe to be the first one to know about updates.</p>
      <input type="text" placeholder=" Email Address" />
      <button href="">Subscribe</button>
    </div>
  </div>
  <div class="footer-div-bottom">
    <div>© 2021 Achor API. All rights reserved.</div>
    <div>
      <span>ANCHOR<span>API</span></span>
    </div>
    <div>
      <a href="#">
        <img
          src="https://cdn-icons-png.flaticon.com/128/1051/1051377.png"
          alt=""
          width="20"
        />
      </a>
      <a href="#">
        <img
          src="https://cdn-icons-png.flaticon.com/128/220/220343.png"
          alt=""
          width="20"
        />
      </a>
      <a href="#">
        <img
          src="https://cdn-icons-png.flaticon.com/128/1077/1077041.png"
          alt=""
          width="20"
        />
      </a>
      <a href="#">
        <img
          src="https://cdn-icons-png.flaticon.com/128/717/717392.png"
          alt=""
          width="20"
        />
      </a>
    </div>
  </div>
</footer>
