<section>
  <div class="container">
    <form class="form-container" #login="ngForm" (ngSubmit)="submit(login)">
      <h1>User Login</h1>
      <div class="form-group">
        <label for="email">Email</label><br />
        <input
          required
          minlength="2"
          maxlength="50"
          type="email"
          name="email"
          class="form-control"
          #name="ngModel"
          ngModel
        />
        <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
          <div *ngIf="name.errors?.['required']">Email Required!</div>
          <p *ngIf="name.errors?.['minlength']">Sorry! Short email</p>
        </div>
      </div>

      <pre></pre>
      <div class="form-group">
        <label for="password">Password</label><br />
        <input type="password" name="password" class="form-control" ngModel />
      </div>
      <pre></pre>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</section>
